
<!-- 
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav> -->

<!-- This will render the routed component -->
<!-- 
<nav>
  <ul>
    <li>
      <a routerLink="/users" routerLinkActive="active">User Details</a>
    </li>
  </ul>
</nav>-->
<!-- <router-outlet></router-outlet> -->

<!-- <app-form-validation></app-form-validation> -->

<!-- 
<app-loginvalidation></app-loginvalidation> -->


<app-clock></app-clock>


